@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

th {
  background-color: #ffa500;
  padding: 5px;
}

.chart {
  background-color: #ffffff;
  border: solid 2px black;
}

.custom-shape-divider-bottom-1718732546 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -5;
}

.custom-shape-divider-bottom-1718732546 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 108px;
}

.custom-shape-divider-bottom-1718732546 .shape-fill {
  fill: #ffffff;
}

@media (max-width: 480px) {

  .input-container {
    flex-direction: column;
  }

  table{
    width: 90%;
  }

  .weather-icon{
    transform: scale(1.5);
  }

  .temp-data{
    padding-left: 25px;
  }

  .wind,
  .humidity,.humidity-data, .wind-data {
    display: none;
  }

}
